{% extends 'pdv/base.html' %}

{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
{% endblock %}

{% block content %}

<div>
    <div class="container">
     <h2>Login</h2>
    <p>Digite os seus dados de acesso no campo abaixo.</p>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required class="input-field" placeholder="Digite seu Usuário">
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" id="password" class="input-field" name="password" placeholder="Digite sua senha" required>
        </div>
        <p>Ainda não tem uma conta? <a href="{% url 'register' %}">Registre-se aqui</a>.</p> 
         <button type="submit" class="btn">Acessar</button>
    </form> 
    </div>
</div>

{% endblock %}



