{% extends 'pdv/base.html' %}
{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
{% endblock %}

{% block content %}

<div>
    <div class="container">
     <h2>Login</h2>
    <p>Digite os seus dados de acesso no campo abaixo.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a>.</p>
        <button type="submit" class="btn">Registrar</button>
    </form> 
    </div>
</div>

{% endblock %}

